<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Farm</title>
</head>
<body>
  <h1>Edit Farm</h1>
  <form action="/farms/<%=farm.id%>?_method=PUT" method="POST">
    <label for="name">Name: </label><input value="<%=farm.name%>" type="text"name" type="text" name="name" placeholder="farm name" required="true">
    <label for="city">City: </label><input value="<%=farm.city%>" type="text" name="city" placeholder="farm city" required="true">
    <label for="email">Email: </label><input value="<%=farm.email%>" type="text" name="email" placeholder="farm email" required="true">
    <button>Submit</button>
  </form>


</body>
</html>